# API de cotações
API_KEY=sua_chave_aqui

# Configurações do pipeline
MOEDAS=USD,EUR,GBP,ARS,BTC
DIAS_HISTORICO=7

# Banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nome_do_banco
DB_USER=usuario
DB_PASS=sua_senha